.col-md-50 {
float: left;
width: 50%;
}

@charset 'UTF-8';
html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,menu,nav,section,time,mark,audio,video,details,summary
{margin:0;padding:0;border:0;font-size:100%;font-weight:400;vertical-align:baseline;background:0 0}

article,aside,figure,footer,header,nav,section,details,summary{display:block}

html{box-sizing:border-box}

*,*:before,*:after{box-sizing:inherit}

img,object,embed{max-width:100%}

html{overflow-y:scroll}

ul{list-style:none}

blockquote,q{quotes:none}

blockquote:before,
blockquote:after,
q:before,q:after{content:'';content:none}

a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:0 0}

del{text-decoration:line-through}

abbr[title],

dfn[title]{border-bottom:1px dotted #000;cursor:help}

table{border-collapse:collapse;border-spacing:0}

th{font-weight:700;vertical-align:bottom}

td{font-weight:400;vertical-align:top}

hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}

input,select{vertical-align:middle}

pre{white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word}

input[type=checkbox]{vertical-align:bottom}

.ie7 input[type=checkbox]{vertical-align:baseline}

.ie6 input{vertical-align:text-bottom}

select,input,textarea{font:99% sans-serif}

table{font-size:inherit;font:100%}

small{font-size:85%}

strong{font-weight:700}

td,td img{vertical-align:top}

sub,sup{font-size:75%;line-height:0;position:relative}

sup{top:-.5em}

sub{bottom:-.25em}

pre,code,kbd,samp{font-family:monospace,sans-serif}

.clickable,label,input[type=button],input[type=submit],input[type=file],button{cursor:pointer}button,input,select,textarea{margin:0}button,input[type=button]{width:auto;overflow:visible}

.ie7 img{-ms-interpolation-mode:bicubic}

.clearfix:before,

.clearfix:after {content:"\0020";display:block;height:0;overflow:hidden}
.clearfix:after{clear:both}
.clearfix{zoom:1}

html{overflow-y:auto}

body{font:.7vw helvetica,sans-serif;background-color:#ebebeb;font-weight:700;padding:0 10px}

body *,div,div *{font-weight:700 !important}

body,select,input,textarea{color:#000}
a{color:#000;text-decoration:none}

a:hover{color:#000}::-moz-selection{background:0 0;color:#fff;text-shadow:none}
::selection{background:0 0;color:#fff;text-shadow:none}
a:link{-webkit-tap-highlight-color:transparent}
ins{background-color:transparent;color:#000;text-decoration:none}
mark{background-color:transparent;color:#000;font-style:italic;font-weight:700}
input:-moz-placeholder{color:#000}textarea:-moz-placeholder{color:#000}
.clearafter:after{content:'';display:block;clear:both}
.mobile{display:none}
body::-webkit-scrollbar{display:none}
header#header{position:fixed;width:calc(100% - 20px);z-index:999;padding-top:10px;padding-bottom:10px;background-color:#ebebeb}
header h1{float:left;width:20%}header #nav{float:left;width:80%;text-align:center;}
header li{display:inline-block; text-align:center; padding:0 1vw}
header li a{text-decoration:none}
img.main-logo{position:fixed;bottom:2.5vw;left:2.5vw;width:calc(15%)}
#info-sidebar{width:20%;position:fixed;left:10px;height:calc(100vh - 20px);padding-right:10px;padding-top:3vw}#info-sidebar a{text-decoration:none}div.mb{margin-bottom:1.5vw}.content{padding-left:20%;padding-top:3vw}.content article{margin-bottom:10px}.col-details{float:left;width:29.8%}
.col-gallery{float:left;width:70.2%}span.subtitle{font-style:italic}.intro{margin-bottom:1vw}.slide-image{height:20vw}.slick-slide.slide-image{outline:none;height:37vw;background-position:center;background-size:cover}.slick-prev{left:0 !important;z-index:800 !important;width:30% !important;height:100% !important}.slick-next{right:0 !important;z-index:800
  !important;width:30% !important;height:100% !important}
  .slick-prev:before{content:'' !important}.slick-next:before{content:'' !important}.col-md-30{float:left;width:30%}.col-md-50{float:left;width:50%}.col-md-70{float:left;width:70%}@media screen and (max-width:960px){.desktop{display:none}.mobile{display:block}header#header{font-size:3vw}
  header #nav{float:none;width:100%;position:fixed;bottom:0;left:0;background-color:#ebebeb;padding:1.5vw 10px}header h1{float:none;width:50%;cursor:pointer}header li{display:block;float:left;padding:0;width:34%}header li:first-child{text-align:left;width:16%}
  header li:last-child{text-align:right;width:16%}#info-sidebar{width:100%;position:fixed;left:0;height:100vh;padding:10px;font-size:3vw;background-color:#ebebeb;z-index:900;padding-top:12vw;display:none}.content{padding-left:0;padding-top:12vw;font-size:3vw;line-height:3vw}.content article{margin-bottom:5vw}
  .intro{margin-bottom:0}.col-details{margin-bottom:2vw}.slick-slide.slide-image{height:65vw}img.main-logo{bottom:10px;left:10px;width:60%}.col-details,.col-gallery{width:100%}.col-sm-30{float:left;width:30%}.col-sm-50{float:left;width:50%}.col-sm-50{float:left;width:70%}.col-sm-100{float:left;width:100%}}
  .slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-webkit-user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
  .slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:none}
  .slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
  .slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}
  .slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}
  .slick-slide img{display:block}.slick-slide.slick-loading img{display:none}
  .slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}

  .slick-prev,.slick-next{font-size:0;line-height:0;position:absolute;top:50%;display:block;width:20px;height:20px;padding:0;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);cursor:pointer;color:transparent;border:none;outline:none;background:0 0}.slick-prev:hover,
  .slick-prev:focus,.slick-next:hover,.slick-next:focus{color:transparent;outline:none;background:0 0}.slick-prev:hover:before,.slick-prev:focus:before,.slick-next:hover:before,.slick-next:focus:before{opacity:1}.slick-prev.slick-disabled:before,.slick-next.slick-disabled:before{opacity:.25}.slick-prev:before,.slick-next:before{font-family:'slick';font-size:20px;
  line-height:1;opacity:.75;color:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.slick-prev{left:-25px}[dir=rtl] .slick-prev{right:-25px;left:auto}.slick-prev:before{content:'←'}[dir=rtl] .slick-prev:before{content:'→'}.slick-next{right:-25px}[dir=rtl] .slick-next{right:auto;left:-25px}.slick-next:before{content:'→'}[dir=rtl]
  .slick-next:before{content:'←'}
  .slick-dotted.slick-slider{margin-bottom:30px}
  .slick-dots{position:absolute;bottom:-25px;display:block;width:100%;padding:0;margin:0;list-style:none;text-align:center}
  .slick-dots li{position:relative;display:inline-block;width:20px;height:20px;margin:0 5px;padding:0;cursor:pointer}
  .slick-dots li button{font-size:0;line-height:0;display:block;width:20px;height:20px;padding:5px;cursor:pointer;color:transparent;border:0;outline:none;background:0 0}
  .slick-dots li button:hover,.slick-dots li button:focus{outline:none}
  .slick-dots li button:hover:before,.slick-dots li button:focus:before{opacity:1}
  .slick-dots li button:before{font-family:'slick';font-size:6px;line-height:20px;position:absolute;top:0;left:0;width:20px;height:20px;content:'•';text-align:center;opacity:.25;color:#000;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
  .slick-dots li.slick-active button:before{opacity:.75;color:#000}
  img.wp-smiley,img.emoji{display:inline !important;border:none !important;box-shadow:none !important;height:1em !important;width:1em !important;margin:0 .07em !important;vertical-align:-.1em !important;background:0 0 !important;padding:0 !important} :root{--wp-admin-theme-color:#007cba;--wp-admin-theme-color-darker-10:#006ba1;--wp-admin-theme-color-darker-20:#005a87}#start-resizable-editor-section{display:none}
  .wp-block-audio figcaption{margin-top:.5em;margin-bottom:1em}.wp-block-audio audio{width:100%;min-width:300px}.wp-block-button__link{color:#fff;background-color:#32373c;border:none;border-radius:28px;box-shadow:none;cursor:pointer;display:inline-block;font-size:18px;padding:12px 24px;text-align:center;text-decoration:none;overflow-wrap:break-word}.wp-block-button__link:active,.wp-block-button__link:focus,
  .wp-block-button__link:hover,.wp-block-button__link:visited{color:#fff}.wp-block-button__…
